.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules
appTests

annotationsBackend.md
annotationsFrontend.md
annotationsMobile.md

backend/.env
backend/ormconfig.json
backend/tmp/*
!backend/tmp/uploads/base.css
backend/*.lock
