.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules

annotationsBackend.md
annotationsFrontend.md
annotationsMobile.md

backend/tmp/*
!backend/tmp/.gitkeep
